body {
	font-family: Tahoma, Arial, "MS Trebuchet", sans-serif;
	-webkit-user-select:none;
	overflow:none;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color:#555588;
}

a:link:hover {
	border-bottom: 1px dotted #555588;
}

#sidebar {
	width:150px;
	position:absolute;
	background-color:#CCCCEE;
	padding:5px;
	left:   0px;
	right:160px;
	bottom: 0px;
	top:    0px;
	border-right:1px solid #999;
}

	#sidebar #searches-wrapper {
		overflow:auto;
		position:absolute;
		top:     0px;
		bottom: 35px;
		left:    0px;
		right:   0px;
	}

	#sidebar ul#saved-searches {

		margin:  0;
		padding: 8px 5px;
		list-style: none;
		font-size:11px;
	}

		#sidebar ul li.saved-search {
			margin:  0 0 10px 0;
			padding:10px;
			list-style: none;
			background:#666699;
			color:#FFFFFF;
			-webkit-border-radius:15px;
			cursor:pointer;
			-webkit-user-select:text;
		}
			#sidebar ul li.saved-search:hover {
				background:#444477;
				color:#FFFFFF;
			}
			#sidebar ul li.saved-search.selected {
				background:#333366;
				color:#FFFFFF;
			}



	#sidebar-buttons {
		position:absolute;
		height:  25px;
		bottom:   0px;
		left:     0px;
		width:  150px;
		padding:  0px 5px 10px;
		border-top:1px solid #666;
		background:#9999CC;
	}
		#sidebar-buttons .button {
/*			height:    20px;*/
			display:block;
			float:left;
			text-align:center;
/*			border:1px solid #333366;*/
			color:     #333366;
			font-size: 18pt;
			font-weight:normal;
			padding:   1px 4px 4px;
			margin: 5px 8px 0 0;
			cursor:    pointer;
			-webkit-border-radius:7px;
			line-height:11pt;
			font-family:Arial;
			font-size:18pt;
		}
		#sidebar-buttons .button:hover {
			background:#333366;
			color:#FFFFFF;
		}
		
		

#messages {
	padding:0px;
	left:162px;
	right:0px;
	bottom: 0px;
	top:0px;
	position:absolute;
	background-color:#FFFFFF;
	overflow:auto;
	
}


ul#messagelist {
	margin: 0px;
	padding:0px;
	list-style: none;
}

	ul#messagelist li.message {
		margin:  0px;
		padding:10px;
		list-style: none;
		min-height:56px;		
	}
	li.message+li.message {
		border-top:1px solid #CCC;
	}
		li.message.even {
			background:#FFFFEE;
		}
		li.message.even {
			background:#EEEEFF;
		}
		.message .message-avatar {
			text-align:center;
			max-width:64px;
			position:absolute;
		}
		.message .message-body {
			margin-left:64px;
			-webkit-user-select:text;
		}
		.message .message-meta {
			margin-top:.5em;
			font-size:90%;
			-webkit-user-select:text;
			text-align:right;
		}
		.message .button {
			font-family:Arial;
			font-size:10pt;
		}
			.message-action-reply {
				vertical-align:-30%
			}
		
		
#statusbar-wrapper {
	font-size:10px;
	position: absolute;
	bottom:    0px;
	left:     20px;
	right:    20px;
	display:  none;
	height:   17px;
	overflow: hidden;
}
	#statusbar {
		padding:    3px;
		font-size: 10px;
		background:#000;
		opacity:   .8;
		color:     #FFF;
		position:  absolute;
		-webkit-border-top-right-radius:5px;
		-webkit-border-top-left-radius: 5px;
		display:  none;
		position: absolute;
		left:       0px;
		right:      0px;
		height:    17px;
		overflow: hidden;
	}

